@charset "UTF-8";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(//fonts.googleapis.com/css?family=Gabriela);
/*========================================================
                      Main Styles
=========================================================*/
body {
  font: 400 12px/18px "Open Sans", sans-serif;
  color: #8e8e8e;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0 20px; }

button {
  outline: none; }

/* default font size */
.fa {
  line-height: inherit; }

h1, h2, h3, h4, h5, h6 {
  color: #353535; }

/* Override the bootstrap defaults */
h1 {
  font-size: 33px; }

h2 {
  font-size: 27px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 15px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10.2px; }

button {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  button:focus {
    outline: 0; }

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  outline: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  a:active {
    background: transparent;
    outline: none; }
  a:visited, a:focus {
    color: inherit;
    text-decoration: none;
    outline: 0; }
  a:hover {
    text-decoration: none;
    color: #e04c32; }

p a:hover {
  text-decoration: underline; }

img {
  max-width: 100%;
  height: auto; }

legend {
  font-size: 18px;
  padding: 7px 0px; }

label {
  font-size: 12px;
  font-weight: normal; }

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 12px;
  border-radius: 0; }

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover,
.input-group-addon {
  font-size: 12px; }

.input-group .input-group-addon {
  height: 30px; }

.nav-tabs {
  margin-bottom: 15px; }

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold; }

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  color: #ffffff;
  background-color: #e04c32;
  background-repeat: repeat-x; }

/*========================================================
                      Header styles
=========================================================*/
.header {
  background: #fff; }
  .header .box-cart {
    float: right; }
  .header .logo {
    margin-top: 30px;
    float: left; }
  .header .search {
    float: right; }
  .header .box-right {
    float: right;
    margin: 67px 10px 0 0; }
  .header .nav__primary {
    margin-top: 30px; }
  .header .dropdown-menu {
    background: #BEB2A5;
    color: #FFF; }
    .header .dropdown-menu button, .header .dropdown-menu a {
      color: #FFF; }
      .header .dropdown-menu button:hover, .header .dropdown-menu a:hover {
        background: #e04c32; }
  .header > .container .col-sm-12 {
    min-height: 0; }

/*=================== Top Panel ===================*/
.top_panel {
  background: #BEB2A5;
  padding: 8px 0 10px; }
  .top_panel:before, .top_panel:after {
    display: table;
    content: "";
    line-height: 0; }
  .top_panel:after {
    clear: both; }

/*================ Top Links style ===============*/
.nav > ul {
  margin: 13px 0 0;
  padding: 0;
  float: left; }
  .nav > ul > li + li {
    margin-left: 10px; }
.nav a {
  color: #FFF;
  text-transform: uppercase; }
  .nav a:hover, .nav a .active {
    color: #e04c32; }
    .nav a:hover i, .nav a .active i {
      color: #e04c32; }
.nav i {
  font-size: 20px;
  color: #FFF;
  margin-right: 6px; }

/*================  CURRENCY AND LANGUAGE BOXES ===============*/
.currency-select {
  text-align: left; }

.box-language .open .dropdown-toggle,
.box-currency .open .dropdown-toggle,
.box-language .dropdown-toggle:hover,
.box-currency .dropdown-toggle:hover {
  color: #6ab805; }

.box-language .dropdown-toggle,
.box-currency .dropdown-toggle {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #e04c32;
  text-transform: capitalize;
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .box-language .dropdown-toggle:after,
  .box-currency .dropdown-toggle:after {
    display: inline-block;
    content: '\f107';
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
    font-family: "FontAwesome"; }

.box-currency .dropdown-menu a,
.box-language .dropdown-menu a {
  padding: 5px 5px 5px 10px; }

.box-language, .box-currency {
  float: left; }

.box-currency {
  margin-left: 20px; }

/*================  DropDown Menu item ===============*/
.box-currency .dropdown-menu button {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 5px 5px 5px 10px; }
  .box-currency .dropdown-menu button::-moz-focus-inner {
    border: none;
    padding: 0; }

/********** Swipe menu ******************/
.toprow-1 {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  display: none;
  background: #BEB2A5; }

.swipe-control {
  border-right: 1px solid #fff;
  display: block;
  height: 50px;
  vertical-align: top;
  text-align: center;
  width: 64px;
  z-index: 100; }
  .swipe-control i {
    line-height: 50px;
    font-size: 30px;
    vertical-align: top;
    color: #fff; }
  .swipe-control:hover i, .swipe-control.active i {
    color: #e04c32; }

.swipe {
  color: #FFF;
  display: block;
  overflow: hidden;
  position: fixed;
  top: 50px;
  width: 237px;
  z-index: 101;
  bottom: 0;
  left: -237px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .swipe .swipe-menu {
    height: 100%;
    overflow-y: auto; }

.swipe ul {
  padding: 0;
  margin: 0; }
  .swipe ul li {
    list-style-type: none; }
    .swipe ul li a {
      display: block;
      padding: 10px 20px;
      font-weight: bold;
      color: #FFF;
      border-top: 1px solid #fff;
      line-height: 25px;
      background: #BEB2A5; }
      .swipe ul li a i, .swipe ul li a:before {
        font-size: 21px;
        color: #fff;
        margin-right: 9px;
        -moz-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      .swipe ul li a:hover {
        background-color: #e04c32; }

.swipe .foot li a:before {
  content: "\f05a";
  font-family: FontAwesome;
  display: inline-block; }

.ind .swipe {
  display: block;
  left: 0; }
.ind #page {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 88; }
.ind .shadow {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 88; }

.swipe .foot li + li a:before {
  content: "\f0d1"; }
.swipe .foot li + li + li a:before {
  content: "\f06a"; }
.swipe .foot li + li + li + li a:before {
  content: "\f085"; }

.swipe .foot.foot-1 li a:before {
  content: "\f0ac"; }
.swipe .foot.foot-1 li + li a:before {
  content: "\f079"; }
.swipe .foot.foot-1 li + li + li a:before {
  content: "\f0e8"; }

.swipe .foot.foot-2 li a:before {
  content: "\f02c"; }
.swipe .foot.foot-2 li + li a:before {
  content: "\f06b"; }
.swipe .foot.foot-2 li + li + li a:before {
  content: "\f0c0"; }
.swipe .foot.foot-2 li + li + li + li a:before {
  content: "\f0a3"; }

.swipe .foot.foot-3 li a:before {
  content: "\f0cb"; }
.swipe .foot.foot-3 li + li a:before {
  content: "\f003"; }

@media (max-width: 767px) {
  .toprow-1 {
    display: block; } }
/*========================================================
               Responsive Header styles
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .nav > ul > li + li {
    margin-left: 1px; }

  .nav {
    padding-left: 10px; }

  .nav a {
    font-size: 12px; }
    .nav a i {
      font-size: 16px;
      margin-right: 2px; } }
@media (max-width: 767px) {
  .header {
    padding: 60px 0 20px; }
    .header .search {
      float: none; }
    .header .logo {
      float: none;
      text-align: center;
      margin-top: 15px; }
    .header .box-right {
      margin-top: -40px; }
    .header .box-cart {
      float: none;
      margin-top: 0; }
    .header .nav__primary {
      background: none;
      margin-top: 0; }

  .menu-shadow .menu {
    display: none; } }
@media (max-width: 767px) {
  .top_panel {
    background: none; }

  .header .logo {
    margin-bottom: 0; }
    .header .logo img {
      display: inline-block; }

  .nav ul {
    display: none; }

  .header .search {
    margin: 0 auto;
    border-color: #BEB2A5; }
    .header .search input {
      color: #BEB2A5; }
    .header .search button, .header .search button:focus, .header .search button:active {
      color: #BEB2A5; }
    .header .search button:hover, .header .search button:focus:hover, .header .search button:active:hover {
      color: #e04c32; } }
@media (max-width: 600px) {
  .header .logo {
    text-align: left; } }
@media (max-width: 420px) {
  .header .box-right {
    margin-top: -100px; } }
@media (max-width: 520px) {
  .col-xs-6 {
    width: 100%; }

  .logo {
    text-align: center;
    float: none;
    margin: 20px 0; } }
/*==================     Search Form     ======================*/
.search {
  position: relative;
  width: 270px;
  display: block;
  padding: 8px 40px 8px 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .search input {
    outline: none;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: baseline;
    box-shadow: none;
    color: #fff;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    height: 22px; }
    .search input::-webkit-input-placeholder {
      color: #fff; }
    .search input:-moz-placeholder {
      color: #fff; }
    .search input::-moz-placeholder {
      color: #fff; }
    .search input:-ms-input-placeholder {
      color: #fff; }
  .search button, .search button:focus, .search button:active {
    background: none;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 25px;
    height: 22px;
    color: #fff;
    font: 400 18px/22px 'FontAwesome', sans-serif; }
    .search button::-moz-focus-inner, .search button:focus::-moz-focus-inner, .search button:active::-moz-focus-inner {
      border: none;
      padding: 0; }
    .search button:before, .search button:focus:before, .search button:active:before {
      content: ""; }
  .search button:hover, .search button:focus:hover, .search button:active:hover {
    color: #e04c32; }

@media (max-width: 479px) {
  .search-form {
    width: 270px; } }
#livesearch_search_results {
  margin: 3px 0 0;
  padding: 5px !important;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #BEB2A5;
  list-style-type: none;
  z-index: 12;
  width: 100%;
  border-top: 0; }
  #livesearch_search_results li {
    padding: 0px;
    overflow: hidden; }
    #livesearch_search_results li img {
      overflow: hidden;
      float: left;
      margin-right: 10px; }
      #livesearch_search_results li img.loading {
        background: #F5F5F5; }
    #livesearch_search_results li:hover, #livesearch_search_results li.highlighted {
      background-color: #e04c32; }
      #livesearch_search_results li:hover a, #livesearch_search_results li.highlighted a {
        color: #FFF; }
  #livesearch_search_results a, #livesearch_search_results a:visited {
    display: block;
    padding: 5px;
    float: left;
    width: 100%;
    color: #fff;
    text-decoration: none; }

/*================ Box Cart  ===============*/
.box-cart {
  position: relative; }
  .box-cart .btn-danger {
    border: 0;
    padding: 0;
    background: none;
    color: #333; }
    .box-cart .btn-danger i {
      font-size: 13px; }

.cart-total, .cart-total2 {
  display: none; }

.cart-total3 {
  text-transform: uppercase;
  font-size: 14px; }

/*================  Cart  ===============*/
.cart {
  position: relative; }
  .cart > button {
    position: relative;
    background: #6ab805;
    border: 0;
    padding: 0 21px;
    line-height: 63px;
    text-align: center;
    font-size: 18px;
    color: #FFF; }
    .cart > button:after {
      content: '\f107';
      margin-left: 8px;
      font-family: "FontAwesome";
      font-size: 24px; }
  .cart > button:hover, .cart.open > button {
    background: #e04c32; }
  .cart i {
    font-size: 20px;
    margin-right: 5px; }
  .cart .btn {
    margin-bottom: 2px; }

/*================  Cart DropDown ===============*/
.cart tr:first-child td {
  border-top: 0; }

.cart td {
  font-size: 13px; }
  .cart td .name a {
    font-size: 14px; }
  .cart td strong {
    font-size: 12px;
    color: #fff; }

.cart .total td {
  border: 0;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #fff; }

.cart .price-cart {
  color: #e04c32;
  font-weight: bold; }

.cart.open > .btn:hover {
  color: #444; }

.cart .dropdown-menu {
  z-index: 1001;
  min-width: 260px; }
  .cart .dropdown-menu img {
    max-width: 50px; }
  .cart .dropdown-menu table {
    margin-bottom: 10px; }
  .cart .dropdown-menu li > div {
    padding: 0 10px; }
  .cart .dropdown-menu li p {
    margin: 20px 0; }

.cart .dropdown-menu button i {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
.cart .dropdown-menu button:hover {
  background: transparent; }
  .cart .dropdown-menu button:hover i {
    color: #e04c32; }
.cart .dropdown-menu .name a:hover {
  color: #e04c32;
  background: transparent; }
.cart .dropdown-menu button.btn-danger {
  border: none; }
  .cart .dropdown-menu button.btn-danger:before, .cart .dropdown-menu button.btn-danger:after {
    display: none; }
  .cart .dropdown-menu button.btn-danger:hover {
    color: #5B5E60; }

.cart .table.total tr:nth-child(4) td strong,
.cart .table.total tr:nth-child(4) td {
  font-weight: bold;
  font-size: 20px;
  font-style: normal; }

.cart-q {
  max-width: 100px;
  float: none;
  display: inline-block;
  margin-right: 3px; }

.shoping_cart td {
  vertical-align: middle !important; }

@media (min-width: 992px) and (max-width: 1199px) {
  .cart > button {
    padding: 0 10px; }
    .cart > button i {
      margin-right: 10px; }
    .cart > button strong {
      display: none; }
    .cart > button .fa-angle-down {
      margin-left: 5px; } }
@media (max-width: 767px) {
  .cart .cart-total2 {
    display: inline-block;
    position: relative;
    min-width: 20px;
    line-height: 20px;
    color: #FFF; }

  .cart-total3 {
    display: none; }

  .nav__primary .cart {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 91;
    border-left: none; }
    .nav__primary .cart > button {
      line-height: 50px;
      padding: 0 20px 0 5px;
      border-radius: 0; }
      .nav__primary .cart > button strong {
        display: none; }
      .nav__primary .cart > button > i {
        height: 50px;
        line-height: 50px;
        width: auto;
        font-size: 20px;
        background: transparent; }
      .nav__primary .cart > button:after {
        display: none; }
    .nav__primary .cart .dropdown-menu {
      max-height: 300px;
      overflow: auto; } }
/*========================================================
                      Menu styles
=========================================================*/
/*==================  Stuck menu  ======================*/
.isStuck {
  z-index: 999; }

@media only screen and (max-width: 991px) {
  .isStuck {
    display: none !important; } }
.nav__primary {
  position: relative;
  padding: 0; }
  .nav__primary ul {
    list-style: none;
    margin: 0;
    padding: 0; }

.nav__primary .menu-shadow {
  background: #ffb817; }
  .nav__primary .menu-shadow:before, .nav__primary .menu-shadow:after {
    display: table;
    content: "";
    line-height: 0; }
  .nav__primary .menu-shadow:after {
    clear: both; }

/*================ Menu  ===============*/
.nav__primary .menu {
  float: left;
  margin: 0 0 0 36px;
  padding: 22px 0 21px; }
  .nav__primary .menu > li {
    float: left;
    position: relative; }
    .nav__primary .menu > li + li {
      margin-left: 29px; }
    .nav__primary .menu > li.sfHover > a, .nav__primary .menu > li > a:hover, .nav__primary .menu > li > a.active {
      color: #e04c32; }
      .nav__primary .menu > li.sfHover > a.sf-with-ul:after, .nav__primary .menu > li > a:hover.sf-with-ul:after, .nav__primary .menu > li > a.active.sf-with-ul:after {
        color: #e04c32; }
  .nav__primary .menu > li > a {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff; }
  .nav__primary .menu:before, .nav__primary .menu:after {
    display: table;
    content: "";
    line-height: 0; }
  .nav__primary .menu:after {
    clear: both; }

/*================ Sub-menu lvl1  ===============*/
.nav__primary .menu ul {
  display: none;
  position: absolute;
  text-align: left;
  z-index: 99;
  background: #e04c32;
  left: 50%;
  top: 100%;
  min-width: 115px;
  max-width: 250px;
  margin: 25px 0 0 -75px;
  padding: 30px 15px 30px 30px;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .nav__primary .menu ul:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4.5px 5px 4.5px;
    border-color: transparent transparent #e04c32 transparent; }

/*================ Sub-menu lvl1 item  ===============*/
.nav__primary .menu ul li {
  position: relative; }
  .nav__primary .menu ul li + li {
    margin-top: 10px; }
.nav__primary .menu ul a {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  padding-right: 10px; }
.nav__primary .menu ul i {
  font-size: 10px;
  margin-right: 10px; }
.nav__primary .menu ul li.active > a, .nav__primary .menu ul a:hover, .nav__primary .menu ul li.sfHover > a {
  color: #ffb817; }

/*================ Sub-menu lvl2 ===============*/
.nav__primary .menu ul ul {
  left: 100%;
  top: -7px;
  margin-left: 15px;
  margin-top: 0; }
  .nav__primary .menu ul ul:before {
    display: none; }

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  text-align: center;
  content: '\f107';
  font-family: FontAwesome;
  font-size: 12px;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.menu-gadget .menu ul ul a {
  padding-left: 60px !important; }

.menu li li .sf-with-ul:after {
  content: '\f105';
  font-size: 16px;
  top: 0;
  left: auto; }

/*=================== Menu gadget Header ===================*/
#menu-icon {
  position: relative;
  background: #ffb817;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font: 400 20px/30px 'Gabriela',sans-serif;
  padding: 10px 17px;
  letter-spacing: 2px;
  text-transform: uppercase; }
  #menu-icon.active:after {
    content: "\f106"; }
  #menu-icon:after {
    float: right;
    content: "\f107";
    font-family: FontAwesome;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    width: 1.25em;
    font-size: 26px;
    color: #fff; }

.menu-gadget {
  display: none;
  margin: 15px 0; }

.menu-gadget .menu {
  padding: 0;
  margin: 0; }
  .menu-gadget .menu li {
    position: relative;
    list-style-type: none;
    background-color: #ffb817;
    color: #FFF; }
    .menu-gadget .menu li i {
      position: absolute;
      display: block;
      top: 8px;
      right: 5px;
      height: 24px;
      width: 24px;
      font-size: 21px;
      padding: 0 20px;
      cursor: pointer; }
  .menu-gadget .menu a {
    padding: 10px 15px;
    display: block;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
    letter-spacing: 0.96px; }
  .menu-gadget .menu li li a {
    padding: 10px 15px 10px 45px; }
  .menu-gadget .menu li li:last-child {
    padding-bottom: 0; }
  .menu-gadget .menu li li li a {
    padding: 10px 15px 10px 35px; }

.menu-gadget .menu li i.fa-angle-up:before {
  content: "" !important; }

/** dropdown **/
.menu-gadget .menu i {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
.menu-gadget .menu ul {
  width: auto;
  padding: 0;
  display: none; }
.menu-gadget .menu li.active > a, .menu-gadget .menu li > a:hover {
  background: #5B5E60;
  color: #FFF; }
.menu-gadget .menu li i:hover {
  color: #5B5E60; }

@media (min-width: 992px) and (max-width: 1199px) {
  .nav__primary .menu {
    margin-left: 15px; }
    .nav__primary .menu > li {
      margin-left: 20px; }
      .nav__primary .menu > li > a {
        font-size: 12px; } }
@media (max-width: 991px) {
  .menu-gadget {
    display: block; } }
@media (min-width: 768px) and (max-width: 991px) {
  .nav__primary {
    margin-top: 15px; }
    .nav__primary .menu-shadow {
      background: transparent; }

  .nav__primary .menu {
    display: none; } }
/*========================================================
                      Content styles
=========================================================*/
#page {
  background: #fff;
  overflow: hidden; }

#content {
  padding-bottom: 10px; }

.content_bottom {
  background: #fff; }

.information-information h3 {
  text-transform: uppercase; }

/*==================  Marked List  ======================*/
.box.account ul, .box.affilate ul {
  padding: 0;
  list-style-type: none; }
  .box.account ul a, .box.affilate ul a {
    position: relative;
    border-bottom: 1px solid #DADADA;
    display: block;
    padding: 13px 15px; }
    .box.account ul a:before, .box.affilate ul a:before {
      content: '\f054';
      margin-right: 10px;
      font-weight: 400;
      font-size: 10px;
      font-family: "FontAwesome";
      color: #e04c32;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  .box.account ul a:hover, .box.affilate ul a:hover {
    color: #e04c32; }

.site-map-page #content ul, .manufacturer-content div, #content ul.list-unstyled {
  margin: 0;
  list-style-type: none; }
  .site-map-page #content ul a, .manufacturer-content div a, #content ul.list-unstyled a {
    position: relative; }
    .site-map-page #content ul a:before, .manufacturer-content div a:before, #content ul.list-unstyled a:before {
      content: '\f105';
      margin-right: 5px;
      font-weight: 400;
      font-size: 15px;
      font-family: "FontAwesome";
      color: #e04c32; }

#content .product-info ul.list-unstyled a:before {
  display: none; }

@media (max-width: 767px) {
  aside {
    margin-top: 20px; }
    aside .container {
      padding: 0;
      width: 100%; }

  #content [class*="col-sm-"] + [class*="col-sm-"] {
    margin-top: 20px; } }
/*========================================================
                      Banners
=========================================================*/
.banners > div .banner-box {
  position: relative; }
  .banners > div .banner-box > a {
    display: block; }

.banners > div .s-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%; }

.banner-1 h2 {
  background: #55B6E3; }

.banner-2 h2 {
  background: #68d494; }

.banner-3 h2 {
  background: #a9cd49; }

.banner-4 h2 {
  background: #f5cf21; }

/*=================== Banner-1 ===================*/
.banner-1, .banner-2, .banner-3, .banner-4 {
  margin-top: -164px;
  padding-bottom: 59px; }
  .banner-1 h2, .banner-2 h2, .banner-3 h2, .banner-4 h2 {
    margin: 0;
    color: #FFF;
    font: 400 26px/29px 'Gabriela', sans-serif;
    padding: 15px 5px;
    text-align: center; }
  .banner-1 .banner-box > a:hover, .banner-2 .banner-box > a:hover, .banner-3 .banner-box > a:hover, .banner-4 .banner-box > a:hover {
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); }

/*========================================================
                   Responsive Banners
=========================================================*/
@media (min-width: 992px) and (max-width: 1199px) {
  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin-top: -129px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin-top: -95px; }
    .banner-1 h2, .banner-2 h2, .banner-3 h2, .banner-4 h2 {
      font-size: 22px; } }
@media (max-width: 767px) {
  .banners {
    background: #e04c32; }

  .banner-1, .banner-2, .banner-3, .banner-4 {
    margin-top: 20px; }

  .banner-1, .banner-2, .banner-3, .banner-4 {
    width: 50%;
    float: left;
    padding-bottom: 0; }
    .banner-1 img, .banner-2 img, .banner-3 img, .banner-4 img {
      width: 100%; }
    .banner-1 .banner-box .s-desc, .banner-2 .banner-box .s-desc, .banner-3 .banner-box .s-desc, .banner-4 .banner-box .s-desc {
      position: static; } }
@media (max-width: 420px) {
  .banner-1, .banner-2, .banner-3, .banner-4 {
    width: 100%;
    float: none; } }
/*========================================================
                      HTML boxes
=========================================================*/
/*=================== About ===================*/
.box_html.welcome {
  background: url("../images/bg.png");
  margin-top: -59px;
  padding: 110px 0 53px;
  text-align: center; }
  .box_html.welcome h2 {
    color: #FFF;
    font: 400 48px/50px 'Gabriela';
    margin: 0; }
    .box_html.welcome h2 + p {
      margin-top: 34px; }
  .box_html.welcome p {
    font-size: 18px;
    line-height: 25px;
    color: #FFF; }
  .box_html.welcome .link {
    margin-top: 20px;
    display: inline-block;
    position: relative;
    color: #FFF;
    text-transform: lowercase;
    padding: 0 15px 23px;
    font-size: 18px;
    font-weight: 600; }
    .box_html.welcome .link:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      border-bottom: 1px dashed #FFF;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .box_html.welcome .link:hover:after {
      left: 50%;
      width: 0; }

.box_html.video_block .vide {
  padding: 148px 0 129px;
  text-align: center; }
  .box_html.video_block .vide .container {
    position: relative;
    z-index: 2; }
.box_html.video_block h2, .box_html.video_block h3 {
  margin: 0; }
.box_html.video_block h2 {
  font: 700 120px/120px "Open Sans", sans-serif;
  color: #FFF200; }
.box_html.video_block h3 {
  position: relative;
  display: inline-block;
  font: 600 72px/70px "Open Sans", sans-serif;
  color: #FFF;
  padding-right: 90px;
  text-transform: uppercase; }
  .box_html.video_block h3 a {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #FFF200;
    color: #2E2E2E;
    border-radius: 50%;
    font-size: 30px; }
    .box_html.video_block h3 a:hover {
      background: #2E2E2E;
      color: #FFF200; }
.box_html.video_block h3 + p {
  margin-top: 30px; }
.box_html.video_block p {
  color: #FFF;
  font-size: 18px; }

.box_html.social {
  margin-top: 5px; }
  .box_html.social ul {
    list-style-type: none;
    padding: 0; }
  .box_html.social a {
    display: block;
    height: 83px;
    line-height: 83px;
    color: #FFF;
    font-size: 25px;
    text-align: center; }
    .box_html.social a.fa-twitter {
      background: #55B6E3; }
    .box_html.social a.fa-google-plus {
      background: #D44934; }
    .box_html.social a.fa-rss {
      background: #FBB953; }
    .box_html.social a.fa-linkedin {
      background: #6EAED2; }
    .box_html.social a:hover {
      opacity: .6; }

.box_html.gmap {
  margin-top: 65px; }

.box.facebook {
  margin-top: 60px; }

/*========================================================
               Responsive HTML boxes
=========================================================*/
@media (max-width: 767px) {
  .box_html.video_block .vide {
    padding: 50px 0; }

  .box_html.social {
    margin-top: 0; }
    .box_html.social li {
      margin-top: 20px; } }
@media (max-width: 660px) {
  .box_html.video_block h2 {
    font-size: 100px;
    line-height: 110px; }
  .box_html.video_block h3 {
    font-size: 45px; } }
@media (max-width: 500px) {
  .box_html.video_block h2 {
    font-size: 80px;
    line-height: 90px; }
  .box_html.video_block h3 {
    font-size: 27px;
    line-height: 40px;
    padding-right: 50px; }
    .box_html.video_block h3 a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 20px; } }
/*========================================================
                      Product
=========================================================*/
.product-layout {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .product-layout:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

aside .product-layout:hover, .product-list.product-layout {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/*=================== Product Image ===================*/
.product-thumb .image {
  position: relative;
  padding: 13px;
  border: 1px solid #DCDCDC;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden; }
  .product-thumb .image a {
    display: block; }
    .product-thumb .image a img {
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      margin-left: auto;
      margin-right: auto; }
    .product-thumb .image a:hover img {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.product-grid .product-thumb .image {
  float: none; }

/*=================== Product Caption ===================*/
.product-thumb {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 23px;
  border-bottom: 1px solid #DCDCDC; }
  .product-thumb .caption, .product-thumb .cart-button {
    padding-left: 10px; }
  .product-thumb h4, .product-thumb .name {
    margin: 10px 0 15px; }
    .product-thumb h4 a:hover, .product-thumb .name a:hover {
      color: #e04c32; }
  .product-thumb:hover .price {
    color: #e04c32; }

.price {
  font-size: 24px;
  line-height: 22px;
  color: #171717;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.cart-button {
  margin-top: 12px; }

.product-list .product-thumb .caption {
  overflow: hidden; }

.product-list .product-thumb .image {
  float: left;
  margin-right: 30px; }
.product-list .product-thumb .cart-button button.btn.btn-add, .product-list .product-thumb .cart-button button.btn.btn-icon {
  margin-top: 0;
  width: auto;
  display: inline-block; }
.product-list .product-thumb .caption, .product-list .product-thumb .cart-button {
  padding-left: 0; }

.price-tax {
  font-size: 12px; }

td .name a {
  font-size: 13px; }

td .price, .price b {
  font-size: 18px;
  padding-bottom: 0; }

.price-total {
  font-weight: bold; }

.price s {
  font-size: 15px; }

.prod-stock {
  color: #6BA239; }

.price-new {
  display: inline-block;
  line-height: 22px; }

.price-old {
  display: inline-block;
  color: #777;
  line-height: 22px;
  text-decoration: line-through;
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }

.price-section {
  font-size: 31px;
  color: #e04c32; }
  .price-section .reward-block {
    font-size: 12px;
    color: #8e8e8e; }

.price-section span.reward {
  display: block;
  margin-top: 10px; }

.price-section span.reward {
  display: block; }

.price-section {
  line-height: normal;
  margin-bottom: 5px;
  padding-bottom: 5px; }

.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block; }

.sale, .new_pr {
  font-size: 12px;
  position: absolute;
  top: -11px;
  left: 20px;
  background-color: #e04c32;
  color: #FFF;
  line-height: 19px;
  padding: 0 8px;
  z-index: 10; }
  .sale:before, .new_pr:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px 2.5px 0 2.5px;
    border-color: #e04c32 transparent transparent transparent; }

aside .specials .container, aside .bestseller .container, aside .latest .container, aside .featured .container {
  width: 100%; }

.latest .product-thumb .rating, .latest .product-thumb .new_pr {
  display: none; }

/*=================== Product Rating ===================*/
.product-thumb .rating {
  position: absolute;
  right: 20px;
  top: 15px; }
  .product-thumb .rating .fa-stack {
    font-size: 10px;
    width: 0.9em; }
  .product-thumb .rating .fa-star-o {
    color: #DEDBDB;
    font-size: 10px; }
  .product-thumb .rating .fa-star, .product-thumb .rating .fa-stack {
    color: #e04c32;
    font-size: 10px; }
  .product-thumb .rating .fa-star + .fa-star-o {
    color: #e04c32; }

.rating-section .rating .fa-stack {
  width: 1em; }

.review-score .fa-star, .review-score .fa-stuck, .review-score .fa-star-o {
  color: #e04c32; }

.latest .product-layout {
  padding-bottom: 10px; }

/*========================================================
               Responsive Styles Product
=========================================================*/
@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 33.33%; }

  .product-grid .product-thumb .caption {
    padding: 0 10px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .price {
    font-size: 18px; } }
@media (max-width: 767px) {
  .product-thumb {
    text-align: center;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }

  .product-list .product-thumb .image,
  .product-grid .product-thumb .image {
    float: left;
    margin-right: 15px;
    width: 25%; }

  .product-layout:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .product-layout:hover .product-thumb {
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

  .product-desc iframe {
    float: none;
    margin: 0 0 2em;
    max-width: 560px;
    width: 100% !important; }

  .rating-section .rating .fa-stack {
    width: 1em; } }
@media (max-width: 624px) {
  .product-list .product-thumb .image,
  .product-grid .product-thumb .image {
    float: none;
    width: 100%;
    margin: 0 auto 10px; }

  .product-thumb .rating {
    text-align: center; } }
/*========================================================
                         Box
=========================================================*/
.box {
  margin-top: 40px; }
  .box .box-heading {
    margin: 0 0 30px;
    font: 400 20px/30px 'Gabriela',sans-serif;
    color: #353535; }
    .box .box-heading h3 {
      margin: 0; }
  .box .name a:hover {
    color: #e04c32; }

aside .box .product-layout {
  width: 100%;
  margin-top: 30px; }
  aside .box .product-layout:first-child {
    margin-top: 0; }

aside .box {
  margin-bottom: 30px; }

.box .bx-wrapper .bx-controls-direction a {
  top: -61px; }
.box .bx-wrapper .bx-next {
  right: 12px; }
.box .bx-wrapper .bx-prev {
  left: auto;
  right: 27px; }
.box .bx-wrapper .bx-next, .box .bx-wrapper .bx-prev {
  border: none;
  background: none;
  width: auto;
  height: auto;
  line-height: 24px;
  font-size: 14px; }

.box.account a:hover {
  color: #e04c32; }

/*========================================================
                    Responsive Box
=========================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  aside .box h3 {
    padding: 14px 10px; }

  .box.info .box-content ul a {
    padding: 13px 5px; } }
@media (max-width: 767px) {
  aside .box .box-heading {
    position: relative;
    padding-right: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border-bottom: 1px solid #E3E3E3; }
    aside .box .box-heading:after {
      content: '\f055';
      position: absolute;
      right: 5px;
      top: 2px;
      font-size: 21px;
      float: right;
      font-family: "FontAwesome";
      color: #353535; }
    aside .box .box-heading.active:after {
      content: '\f056'; } }
/*========================================================
                      Buttons
=========================================================*/
.buttons {
  margin: 1em 0; }
  .buttons:before, .buttons:after {
    display: table;
    content: "";
    line-height: 0; }
  .buttons:after {
    clear: both; }

.btn-danger,
.btn-primary,
.btn-info,
.btn-default {
  color: #4c4f51;
  border: none;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0;
  background: none;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary,
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger,
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info,
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled],
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  text-shadow: none;
  box-shadow: none;
  background: none; }

.btn:visited,
.btn {
  position: relative;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  text-shadow: none;
  border-radius: 0;
  padding: 12px 16px;
  background: #ffb817; }
  .btn:visited i,
  .btn i {
    line-height: 20px;
    font-size: 18px;
    display: inline-block;
    min-width: 17px; }

.btn:hover,
.btn:focus {
  background: #e04c32;
  color: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.input-group-btn .btn {
  padding: 7px 12px; }
  .input-group-btn .btn i {
    font-size: 15px;
    line-height: 18px; }

.product-thumb .btn {
  display: inline-block;
  background: none;
  line-height: 20px;
  padding: 0;
  width: auto;
  color: #6E6E6E;
  text-transform: lowercase;
  font-size: 12px; }
  .product-thumb .btn.btn-add {
    font-weight: 400; }
  .product-thumb .btn:hover {
    color: #6ab805; }

.product-thumb .btn.btn-add {
  color: #252525; }
  .product-thumb .btn.btn-add:hover {
    color: #6ab805; }

.cart-button > .btn + .btn {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #d8d8d8; }

#compare-total {
  display: inline-block;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  padding: 15px 20px;
  background: #42B856;
  margin-left: 10px; }
  #compare-total:hover {
    background: #e04c32; }

/*========================================================
                 Responsive styles Buttons
=========================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  .product-thumb .btn {
    width: 100%; }

  .cart-button .btn {
    margin-right: 15px; }
  .cart-button > .btn + .btn {
    margin: 3px 0 0;
    padding: 3px 0 0;
    border-left: none;
    border-top: 1px solid #d8d8d8; }

  .account-wishlist table td .btn {
    padding: 12px 12px; } }
@media (max-width: 400px) {
  .account-address .table td a {
    display: block; }
    .account-address .table td a + a {
      margin-top: 5px; }

  .buttons .pull-left, .buttons .pull-right {
    float: none !important;
    margin-top: 10px; } }
@media (max-width: 500px) {
  .btn, .btn-visited {
    font-size: 12px; } }
/*==================  GOOGLE MAP  ======================*/
.map_model {
  height: 316px; }
  .map_model img {
    max-width: none !important; }
  @media (max-width: 767px) {
    .map_model {
      height: 250px; } }
  @media (max-width: 479px) {
    .map_model {
      height: 200px; } }
.map_locations {
  display: none; }

/*========================================================
                         Footer
=========================================================*/
footer {
  padding-top: 53px;
  font-size: 15px; }
  footer h5 {
    font: 400 20px/26px 'Gabriela',sans-serif;
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    padding: 27px 5px 28px;
    margin: 0;
    color: #393939; }

footer .footer_box {
  border: 1px solid #dcdcdc; }

footer .footer_box ul {
  padding: 43px 5px 61px 20px;
  margin: 0; }
  footer .footer_box ul li + li {
    margin-top: 15px; }

.copyright br {
  display: none; }

.copyright {
  text-align: center;
  padding: 36px 0 35px;
  margin-top: 59px;
  color: #868686;
  text-transform: uppercase;
  background: #F9F9F9;
  border-top: 1px solid #e4e4e4;
  font-size: 14px; }

/*========================================================
                    Responsive  Footer
=========================================================*/
@media (min-width: 768px) and (max-width: 991px) {
  footer h5 {
    font-size: 19px; }

  footer .footer_box {
    margin-top: 15px; } }
@media (max-width: 767px) {
  .box-right-bottom,
  footer > .container {
    display: none; }

  footer {
    text-align: center; }
    footer .copyright {
      margin-top: 0; } }
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  background: #ffb817;
  position: fixed;
  right: 66px;
  bottom: 100px;
  display: none;
  overflow: hidden;
  text-decoration: none;
  z-index: 20; }
  .toTop:hover {
    background: #6ab805;
    text-decoration: none;
    color: #fff; }

.toTop:visited, .toTop:focus, .toTop:active {
  color: #fff; }

@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important; } }
/* alert */
.alert {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px 14px 8px 14px;
  z-index: 30; }

.alert-warning {
  background-color: #ec710d;
  border-color: #d45634; }

#product .alert {
  position: relative; }

/*=================== Breadcrumb ===================*/
.breadcrumb {
  margin: 15px 0;
  padding: 8px 0;
  border-radius: 0;
  border: 1px solid #e1e0e0;
  background: #fff; }
  .breadcrumb a:hover {
    color: #e04c32; }
  .breadcrumb i {
    font-size: 15px; }
  .breadcrumb > li {
    padding: 0 20px;
    position: relative;
    white-space: nowrap; }
    .breadcrumb > li + li:before {
      content: '';
      padding: 0; }
    .breadcrumb > li:after {
      content: '';
      display: block;
      position: absolute;
      top: -3px;
      right: -5px;
      width: 26px;
      height: 26px;
      border-right: 1px solid #e1e0e0;
      border-bottom: 1px solid #e1e0e0;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.pagination {
  margin: 0; }

/*************************/
.btn-xs {
  font-size: 9px; }

.btn-sm {
  font-size: 10.2px; }

.btn-lg {
  padding: 10px 16px;
  font-size: 15px; }

.dropdown-menu {
  border-radius: 0; }

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-size: 12px; }

.btn-group > .btn-xs {
  font-size: 9px; }

.btn-group > .btn-sm {
  font-size: 10.2px; }

.btn-group > .btn-lg {
  font-size: 15px; }

#list-view.active,
#grid-view.active {
  color: #e04c32; }

#list-view i,
#grid-view i {
  line-height: normal; }

#list-view,
#grid-view {
  background: none;
  box-shadow: none;
  color: #777; }

/* list group */
.list-group a {
  border: 1px solid #DDDDDD;
  color: #888888;
  padding: 8px 12px; }

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #DDDDDD;
  text-shadow: 0 1px 0 #FFF; }

/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000; }

.carousel-control .icon-prev:before {
  content: '\f053';
  font-family: FontAwesome; }

.carousel-control .icon-next:before {
  content: '\f054';
  font-family: FontAwesome; }

.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0; }

.thumbnails > li {
  margin-left: 20px; }

.thumbnails {
  margin-left: -20px; }

.thumbnails > img {
  width: 100%; }

.thumbnail a {
  display: block; }
  .thumbnail a:hover {
    opacity: .5; }

.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd; }

.image-additional {
  max-width: 78px; }

.thumbnails .image-additional {
  float: left;
  margin-left: 20px; }

.flexslider .slides img {
  width: inherit; }

.flexslider.carousel .slides img {
  width: auto; }

.slides {
  padding: 0;
  margin: 0;
  list-style: none; }

.slides li {
  text-align: center; }

.slides li img {
  text-align: center; }

.flex-direction-nav a:before {
  line-height: 40px; }

/** dropdown **/
.dropdown-menu > li > a {
  text-transform: uppercase;
  color: #777;
  padding: 3px 10px; }

/***************HOME PAGE**********************/
.header_modules .owl-carousel {
  border: 0;
  padding: 0;
  box-shadow: none; }

.header_modules .bx-wrapper .bx-caption {
  background: none;
  bottom: auto;
  top: 5%;
  max-width: 1170px;
  margin: 0 auto; }

.header_modules .bx-wrapper .bx-caption span {
  padding: 0;
  max-width: 740px; }

/***************PRODUCT PAGE**********************/
.quickview_description {
  margin-top: 15px; }

.quickview_description iframe,
.product-desc iframe {
  width: 40% !important;
  height: 200px !important;
  float: left;
  margin-right: 2em; }

.quickview-style .inf {
  font-size: 14px;
  margin-bottom: 10px; }

.quickview-style .cart-button {
  margin-top: 10px; }
  .quickview-style .cart-button .btn {
    padding: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center; }

.product-desc ul {
  list-style: inside; }

.product-section {
  margin-bottom: 3em; }

.product-content-columns {
  margin-bottom: 3em; }

.product-share {
  clear: both;
  padding: 0;
  height: 32px;
  margin-top: 1em; }
  .product-share li {
    display: inline-block;
    text-align: center;
    margin-right: 3px; }
    .product-share li a {
      display: block;
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background: #ccc;
      color: #fff; }
      .product-share li a:hover {
        background: #383838; }
    .product-share li i {
      line-height: 32px;
      font-size: 18px; }

.product-buttons {
  clear: both;
  overflow: hidden;
  margin: 0 -5px 1em;
  padding: 0; }
  .product-buttons li {
    float: left;
    width: 50%;
    padding: 0 5px;
    list-style: none; }
    .product-buttons li button {
      width: 100%; }

ul.product-section.list-unstyled li a i {
  display: none; }

.product-section_title {
  margin-bottom: 1em;
  text-align: center; }

.review-form-title h3:hover {
  color: #e04c32; }

.review-form-title {
  text-align: center; }

#reviews_form_title {
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 0 10px 5px;
  display: inline-block;
  text-align: center; }

#reviews_form_title:before {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #ddd;
  content: '';
  margin-left: -10px; }

.product-review-form {
  display: none; }

.bootstrap-datetimepicker-widget td span:hover {
  background: none !important; }

.product_page #button-cart {
  width: 100%; }

.bx-wrapper .bx-viewport {
  background-color: transparent; }

.bx-wrapper .bx-controls-direction a i {
  line-height: 40px;
  vertical-align: top; }

.bx-wrapper .bx-controls-direction a:hover {
  color: #e04c32; }

.bx-wrapper .bx-controls-direction a {
  background: #fff;
  border: 1px solid #dadada;
  color: #babcbf;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 40px;
  font-size: 15px; }

@media (max-width: 767px) {
  .bx-wrapper .bx-controls-direction .bx-prev i, .bx-wrapper .bx-controls-direction .bx-next i {
    display: none; }
  .bx-wrapper .bx-controls-direction .bx-prev:before, .bx-wrapper .bx-controls-direction .bx-next:before {
    font-family: "FontAwesome"; }

  .bx-wrapper .bx-controls-direction .bx-prev:before {
    content: '\f104'; }

  .bx-wrapper .bx-controls-direction .bx-next:before {
    content: '\f105'; } }
#full_gallery {
  border: 1px solid #dddddd; }

#default_gallery {
  /*border:1px solid #ececec;*/
  margin-bottom: 30px; }

#default_gallery .bx-controls-direction,
#default_gallery .bx-controls {
  height: 100%; }

#default_gallery .image-thumb .bx-wrapper .bx-prev,
#default_gallery .image-thumb .bx-wrapper .bx-next {
  top: auto;
  bottom: 0;
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  right: auto;
  margin: 0;
  left: auto;
  border: 0; }

#default_gallery .image-thumb .bx-wrapper .bx-prev:hover,
#default_gallery .image-thumb .bx-wrapper .bx-next:hover {
  background: #e04c32; }

#default_gallery .image-thumb .bx-wrapper .bx-prev {
  top: 0;
  bottom: auto;
  right: auto; }

#default_gallery .image-thumb .bx-wrapper .bx-prev i,
#default_gallery .image-thumb .bx-wrapper .bx-next i {
  line-height: 34px;
  color: #fff;
  display: block; }

#default_gallery .image-thumb img:hover,
#default_gallery .image-thumb .active img {
  border-color: #e04c32; }

#default_gallery .image-thumb img {
  border: 1px solid #dddddd; }

#default_gallery .image-thumb {
  padding: 0;
  float: left;
  padding-right: 1em;
  width: 16%; }

.product_page #default_gallery .image {
  float: left;
  width: 84%;
  background: none; }

.zoomWindow {
  background-color: #fff; }

#image-additional {
  margin: 0;
  padding: 0; }

#image-additional li {
  float: none;
  list-style: none; }

#default_gallery .bx-wrapper {
  margin: 0 !important; }

#default_gallery img {
  background-color: #fff;
  width: 100%; }

.product-reviews .review-item {
  margin-bottom: 2em;
  padding-bottom: 2em; }

.review-score .fa-stack {
  width: 1.5em;
  height: 1.5em; }

.product_page h1 {
  margin-bottom: 20px;
  color: #333;
  line-height: normal; }

.product-section a:hover {
  color: #000; }

.reward-block span {
  display: block; }

#product .input-group[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px; }

#product h3 {
  color: #e04c32; }

.ps-carousel-item img {
  background-color: #EFEEEE; }

.ps-zoom-pan-rotate img {
  background-color: #EFEEEE; }

#full_gallery {
  display: none; }

/***************BOX**********************/
aside .box .box-product > div {
  width: 100%; }

/***************PRODUCT CATEGORY PAGE**********************/
.zoomWrapper {
  vertical-align: top; }

#default_gallery .image {
  background-color: #efeeee;
  width: 100%;
  overflow: hidden;
  border: 1px solid #dddddd;
  margin-bottom: 1px; }

#default_gallery .image img {
  width: auto;
  vertical-align: top;
  width: 100% !important;
  height: auto !important;
  display: block;
  position: relative !important; }

.product_page h1.product-title {
  margin-bottom: 0; }

.general_info {
  margin-bottom: 20px; }

.fancybox-skin .rating {
  margin: 10px 0;
  color: #e04c32; }

.general_info .product-section,
.general_info .price-section {
  margin: 0 0 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd; }

.box-subcat {
  padding: 0;
  margin: 0; }
  .box-subcat li {
    list-style: none;
    text-align: center;
    margin-bottom: 30px; }
    .box-subcat li .name a {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase; }
      .box-subcat li .name a:hover {
        color: #e04c32; }
    .box-subcat li .image {
      margin-bottom: 10px;
      border: 2px solid #dbdbdb;
      padding: 9px;
      -moz-transition: 0.3s all ease;
      -o-transition: 0.3s all ease;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .box-subcat li .image img {
        background-color: #fbfbfb; }
      .box-subcat li .image:hover {
        border-color: #e04c32; }
    .box-subcat li.first-in-line {
      clear: left; }

.img-thumbnail {
  border: 0;
  background-color: #f7f7f7;
  padding: 0;
  border-radius: 0; }

.product-filter {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 20px 0;
  margin-bottom: 12px; }
  .product-filter label {
    font-size: 13px;
    font-weight: bold;
    padding-top: 7px; }

.nav-cat {
  margin-bottom: 13px; }

.nav-cat .nam-page {
  margin: 5px 0 5px 10px; }

.button-view button:active,
.button-view button:focus,
.button-view button:hover {
  color: #e04c32; }

.button-view button {
  border: 0;
  background: none;
  font-size: 27px;
  padding: 0;
  margin: 0 5px; }

.button-view button i {
  vertical-align: top;
  border: 0;
  background: none;
  font-size: 27px; }

/*======== RELATED PRODUCTS =============*/
.related-slider {
  padding: 0 14px;
  margin: 0;
  list-style-type: none; }

.related-products li .product-thumb {
  margin-bottom: 0; }

/*======== PRODUCT TABS =============*/
.tabs {
  margin-top: 10px; }

.tabs .tab-heading i {
  font-size: 26px;
  color: #7e7e7e;
  float: right;
  margin-top: 5px; }

.tabs .tab-heading {
  padding: 13px 20px;
  line-height: 32px;
  color: #323232;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  border-bottom: 4px solid #000;
  background-color: #f9f9f9; }

.tabs .tab-content {
  padding: 20px 0; }

#review td {
  font-size: 13px; }

.rating a {
  cursor: pointer; }

/*======== BLOCK COMPARE =============*/
.compare-block {
  margin-bottom: 20px; }

.compare-block .image {
  margin-right: 10px; }

.compare-block .remove a {
  font-size: 19px;
  line-height: normal; }

.compare-info {
  width: 100%; }

.block-compare {
  position: relative;
  overflow: hidden; }

.table .rating {
  line-height: 20px; }

@media (max-width: 767px) {
  .table-compare {
    overflow-x: scroll;
    overflow-y: hidden; }
    .table-compare .table.table-bordered td + td {
      min-width: 270px; }

  .table.table-bordered {
    margin-bottom: 10px; } }
/************** QUICKVIEW **************************/
.quick_info {
  display: none; }

.fancybox-skin:hover .fancybox-nav span {
  visibility: visible; }

.fancybox-nav {
  height: 40px;
  top: 50%;
  width: 40px; }

.quickview_description {
  overflow: auto;
  max-height: 300px;
  border: 1px solid #e3e3e3;
  padding: 10px; }

/****** ABOUT PAGE*****/
.extra-wrap {
  overflow: hidden; }

.dropcap {
  background: none repeat scroll 0 0 #a8d7f3;
  border-radius: 0;
  color: #fff;
  font: 30px/36px "Roboto", serif;
  height: auto;
  margin: 0px 20px 30px 0;
  padding: 17px;
  width: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  display: block;
  float: left; }

img.alignleft {
  float: left;
  margin: 0 20px 0px 0; }

.sm_hr {
  height: 1px;
  background-color: #e0e0e0;
  margin: 50px 0; }

.about-page h4 {
  margin: -5px 0 5px;
  line-height: 26px;
  color: #e04c32; }

.about-page {
  font-size: 14px;
  line-height: 26px; }

.about-page figure img {
  border: 1px solid #e2e2e2; }

.human_info figure,
.about-page figure {
  background: none repeat scroll 0 0 #fafafa;
  border: 1px solid #e2e2e2;
  padding: 12px;
  display: block;
  max-width: 254px;
  margin: 0 auto 12px;
  border-radius: 0; }
  .human_info figure a:hover,
  .about-page figure a:hover {
    opacity: .5; }

.human_info figure {
  float: left;
  margin-right: 20px; }

.about-page .excerpt {
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px; }

.about-page h5 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 5px; }

.about-page i {
  color: #e04c32;
  display: block;
  float: left;
  font-size: 56px;
  margin-right: 15px;
  overflow: hidden; }

.clear {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 0;
  border: 0;
  line-height: 0; }

.recent-posts {
  text-align: center; }

.testimonials .testi-item {
  margin-bottom: 30px; }

.testimonials .testi-item a {
  font-size: 14px; }

.testimonials .testi-meta {
  line-height: 18px;
  padding-left: 50px;
  display: block; }

.testimonials .user {
  text-transform: uppercase;
  font-size: 12px;
  color: #e04c32; }

.testimonials blockquote:after {
  content: '';
  position: absolute;
  display: block;
  background: url(../images/testi_arr.png) no-repeat left top;
  width: 21px;
  height: 20px;
  bottom: -20px;
  left: 30px; }

.testimonials blockquote {
  border: 1px solid #dbdbdb;
  position: relative;
  margin-bottom: 30px; }

.terms_conditions_page p {
  margin-bottom: 20px; }

.terms_conditions_page h4 {
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #e04c32; }

.table.privacy_page td {
  border-top: 0;
  padding: 0 30px 30px; }

.privacy_page td:first-child {
  text-align: right; }

.privacy_page tr > td + td {
  border-left: 1px solid #ddd; }

.privacy_page {
  font-size: 14px;
  line-height: 22px; }

.privacy_page h4 {
  max-width: 300px;
  float: right;
  margin: 0 0 10px;
  line-height: normal;
  text-transform: uppercase;
  font-size: 16px;
  color: #e04c32; }

/********** SITEMAP PAGE ******************/
.site-map-page #content ul li {
  padding: 5px 0; }

.site-map-page #content .breadcrumb li {
  padding: 0 20px; }
  .site-map-page #content .breadcrumb li i {
    display: none; }

.site-map-page #content ul li a {
  font-size: 13px; }

.site-map-page #content ul li a i {
  font-size: 15px;
  margin-right: 5px;
  color: #e04c32; }

.site-map-page #content ul li {
  list-style-type: none;
  font-size: 17px; }

/********/
.manufacturer-list {
  border: 1px solid #e6e6e6;
  margin-bottom: -1px; }

.manufacturer-heading {
  background: none repeat scroll 0 0 #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 6px;
  padding: 5px; }

.manufacturer-heading span {
  background: none repeat scroll 0 0 #e04c32;
  color: #fff;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 50px; }

.manufacturer-content a i {
  font-size: 15px;
  color: #e04c32;
  margin-right: 5px; }

.manufacturer-content {
  padding: 20px; }

/********** ACCOUNT ******************/
.well {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  box-shadow: none; }
  .well .heading {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 15px; }
    .well .heading i {
      color: #e04c32;
      float: left;
      font-size: 56px;
      margin-right: 14px;
      line-height: 60px; }
    .well .heading h2 {
      font-size: 23px;
      font-weight: bold;
      color: #e04c32;
      margin: 0 0 5px; }
    .well .heading strong {
      font-weight: normal;
      font-style: italic; }
  .well p {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 15px; }
  .well a {
    display: inline-block;
    margin-top: 10px; }

#content ul.list-unstyled li {
  padding: 3px 0; }

#content ul.list-unstyled li a i {
  font-size: 17px;
  margin-right: 5px;
  color: #e04c32; }

.zoomWindow {
  z-index: 40 !important; }

.datepicker .prev, .datepicker .next {
  cursor: pointer;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .datepicker .prev:hover, .datepicker .next:hover {
    color: #e04c32; }
.datepicker th {
  text-align: center; }
.datepicker .day {
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer; }
  .datepicker .day:hover, .datepicker .day.active {
    color: #e04c32; }

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%; }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%; }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%; }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%; } }
.fancybox-next {
  right: -60px; }

.fancybox-prev {
  left: -60px; }

input#input-voucher,
input#input-coupon {
  display: inline-block;
  width: 45%;
  margin-right: 5px; }

/*========================================================
                   Bootstrap Reset
=========================================================*/
.container > .alert,
.breadcrumb + .alert {
  position: fixed;
  width: 100%;
  z-index: 1000; }

.alert button.close {
  vertical-align: top;
  margin-top: -3px; }

.alert {
  color: #FFF;
  font-weight: bold;
  padding: 10px 10px 13px;
  border-radius: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }

.alert i {
  font-size: 21px; }

.alert a:hover {
  text-decoration: none; }

.alert a {
  color: #FFF;
  text-decoration: underline; }

.alert-success {
  background-color: #55C65E;
  border: 1px solid #48B151; }

.alert-danger {
  background-color: #F3515C;
  border-color: #D4323D; }

.alert-info {
  background-color: #FE9126;
  border-color: #E4752B; }

.modal-header .close:hover {
  color: #e04c32; }

.modal-header .close {
  color: #CCC; }

.close {
  color: #FFF;
  opacity: 1; }

.pagination {
  border-radius: 0; }

.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0; }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #e04c32;
  border-color: #e04c32;
  color: #FFF; }

.pagination > li > a, .pagination > li > span {
  color: #888; }

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  background: #6ab805;
  border-color: #6ab805;
  color: #FFF; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  text-decoration: none; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  box-shadow: none;
  outline: none; }

.table-bordered {
  border-radius: 0; }

.table thead td {
  text-transform: uppercase;
  font-weight: bold;
  color: #323232 !important;
  font-size: 13px;
  background-color: #F9F9F9; }

.table th,
.table td {
  padding: 20px;
  border-color: #D7D7D7;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.block-compare .table th, .block-compare .table td {
  padding: 7px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 13px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
  box-shadow: none; }

.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
  border-radius: 0; }

.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
  border-radius: 0; }

.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
  border-radius: 0; }

.table-bordered {
  border-color: #D7D7D7; }

label,
input,
button,
select,
textarea {
  font-size: 13px;
  color: #393939; }
  @media (min-width: 768px) and (max-width: 991px) {
    label,
    input,
    button,
    select,
    textarea {
      font-size: 10px; } }

label {
  font-weight: bold; }

textarea {
  resize: none; }

label {
  cursor: default; }

.close:hover,
.close:focus {
  opacity: 1; }

.panel-group .panel, .panel {
  border-radius: 0; }

.panel-heading {
  padding: 20px; }

.addthis_button_tweet {
  width: 100px !important; }

.fancybox-close, .fancybox-prev span, .fancybox-next span {
  opacity: 0.8; }

.fancybox-close:hover, .fancybox-prev span:hover, .fancybox-next span:hover {
  opacity: 1; }

.text-danger {
  color: red;
  font-weight: bold;
  font-size: 100%;
  font-size: 16px; }

@media (max-width: 1200px) {
  .table th, .table td {
    padding: 8px; }

  #top-links li a i {
    display: inline-block; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
@media (min-width: 768px) {
  .box .box-content .last {
    clear: left; } }
@media (max-width: 1199px) {
  .button-view {
    margin-top: 10px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .fb-like-box {
    width: 210px !important; }
    .fb-like-box > span, .fb-like-box > span > iframe {
      width: 100% !important;
      height: 300px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .common-home #container #column-left.col-sm-3 {
    width: 33.3333333333%; }

  .common-home #container #content.col-sm-9 {
    width: 66.666666667%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #full_gallery {
    display: block; }

  #default_gallery {
    display: none; }

  .box .box-content .box-product ul li:hover .quick-view-button {
    display: none !important;
    visibility: hidden; } }
@media (min-width: 768px) and (max-width: 979px) {
  .box-subcat li .name a {
    font-size: 14px; } }
@media (max-width: 767px) {
  a.quickview {
    display: none !important; }

  #full_gallery {
    display: block; }

  #default_gallery {
    display: none; }

  .tabs .tab-heading:hover {
    cursor: pointer; }

  .tabs .tab-content {
    display: none; }

  .checkout_button {
    display: none; }

  aside {
    display: block; }

  .box-subcat li {
    overflow: hidden;
    clear: both;
    text-align: left; }
    .box-subcat li .image {
      display: inline-block;
      float: left;
      margin-right: 15px;
      width: 25%; }

  .quickview_description iframe,
  .product-desc iframe {
    float: none;
    width: 90% !important; } }
@media (max-width: 600px) {
  .breadcrumb {
    padding: 0; }

  .breadcrumb > li:last-child:after {
    display: none; }

  .breadcrumb > li:after {
    width: auto;
    position: static;
    border: 0;
    content: '>';
    margin-left: 5px;
    display: inline-block;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none; }

  .breadcrumb > li {
    padding: 0 5px; }
    .breadcrumb > li a {
      line-height: 24px; }

  .quickview_description iframe,
  .product-desc iframe {
    float: none;
    width: 90% !important;
    height: 240px !important; } }
@media (max-width: 530px) {
  .panel-group .panel input#input-voucher,
  .panel-group .panel input#input-coupon {
    width: 100%; }
  .panel-group .panel span {
    display: block;
    margin-top: 5px; } }
@media (max-width: 500px) {
  img.alignleft, .human_info figure {
    float: none;
    margin: 0 0 20px; }

  h1 {
    font-size: 26px; } }
@media (max-width: 410px) {
  #accordion .table td,
  #accordion .table thead td {
    font-size: 9px;
    word-wrap: break-word; } }
@media (width: 360px) {
  .common-home .box.latest .box-content, .common-home .box.specials .box-content {
    padding: 0 25px; } }
@media (max-width: 370px) {
  img.alignleft {
    float: none;
    margin: 0 0 20px; }

  .table.privacy_page td {
    padding: 8px; }

  .delivery_page .table td,
  .delivery_page .table th {
    padding: 6px; } }
